body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    background-color: rgb(48, 48, 48);
    display: block;
    width: 100vw;
    height: 100vh;

    filter: blur(0px);
    transition: filter 0.5s ease-in-out;
}

.blur-mode {
    filter: blur(60px);
    pointer-events: none;
}